@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav ul{
    display: none;
    list-style-type: none;
    background-color: whitesmoke;
}

nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow: column wrap;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: blue;
}

nav input[type=checkbox]{
    display: none;
    background-color: blue;
    color: white;
}

nav label {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: blue;
    color: white;
    font-family : Lexend, sans-serif;
}

.conteneur-nav {
    width: 100%;
}

.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li {
    flex: 1 1 auto;
    text-align: left;
    margin-bottom: 25px;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 18px;
}

.sous a {
    padding: 10px;
    border-bottom: none;
    background-color: whitesmoke;
    color: black;
    font-family: Lexend;
}

.titre-section {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.icon-menu {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.h4 a{
    font-family : Lexend, sans-serif;
    font-size : 25px;
}